header{
    background-color: red;
    padding: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: blanchedalmond;
}

section{
    background-color: blanchedalmond;
}

p{
    color: black;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


nav{
    background-color: thistle;
    color: black;
    text-align: center;
}


.clear{
    clear: both;
}


article{
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 65%;
    float: left;
}


aside{
    background-color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 35%;
    float: right;
    height: 100%;
}


footer{
    background-color: blanchedalmond;
    height: 200px;
    text-align: center;
    color: black;
    font-family: monospace;
}